{% extends "_layout.html" -%}
{% block content -%}
	<!-- <h1>{{ data.page.title }}</h1> -->

	<!-- SECTION 1 -->
	<div class="row p-top-btm-1" style="background-color: #E9F9FF;">
		<!-- left col -->
		<div class="col-7 p-left my-auto">
			<h1 class="p-btm">Support your loved ones who may be dealing with depression.</h1>
			<p>Through their messages, MoodSpace helps you identify if your loved one is suffering from depression. We then suggest appropriate replies to offer emotional support for them.</p>
		</div>

		<!-- right col -->
		<!-- reference: https://stackoverflow.com/questions/37156582/bootstrap-vertical-align-image -->
		<div class="col-5 d-flex flex-wrap align-items-center">
			<img class="img-fluid p-right" src="/static/img/home_illustration.png">
			<!-- <p>testing testing testing testing testing testing testing testing testing testing testing testing testing</p> -->
		</div>
	</div>

	<div style="">
		<img class="img-fluid" src="/static/img/wave_btm.png" />
	</div>

	<!-- SECTION 2 -->
	<!-- div size == size of content: https://stackoverflow.com/questions/3751511/div-size-automatically-size-of-content -->
	<div class="p-left p-section" style="display: inline-block; ">
		<h2 class="p-btm-1 ">Get Started</h2>
	</div>
	
	<div class="p-left p-right p-top p-btm">
		<p>Please select if you would like to get started through submitting a Reddit username or a single text input.</p>
	</div>

	<div class="p-left p-right">
		<h3 class="p-btm">
			<label for="redditUsername">Reddit Username</label>
			<input type="radio" onchange="swapConfig(this)" name="urlOptions" id="redditUsername" checked="checked" />
			<label for="singleText" class="p-left">Single Text</label>
			<input type="radio" onchange="swapConfig(this)" name="urlOptions" id="singleText" />
		</h3>

		<!-- REDDIT USERNAME FORM -->
		<form action="/prediction_user/" method="POST">
			<div id="redditUsernameSettings" class="">
				<!-- input field -->
				<input type="text" name="username" placeholder='Enter username' class="p-top-btm-1 p-left-1" style="width: 75%; border-radius: 8px; border: 2px solid #AAA5A5;">
				<!-- submit button -->
				<div>
					<input type="submit" class="button m-top" value="SUBMIT" onclick="prediction_user()">
				</div>
			</div>	
		</form>

		<!-- SINGLE TEXT FORM -->
		<form action="/prediction_solo/" method="POST">
			<!-- <div id="singleTextSettings" class="form-group" style="display: none;">
				<input type="text" name="p1" placeholder='Enter text'>
			</div> -->
			<div id="singleTextSettings" style="display: none;">
				<!-- input field -->
				<input type="text" name="name" placeholder='Enter Name / Nickname' class="p-top-btm-1 p-left-1" style="width: 75%; border-radius: 8px; border: 2px solid #AAA5A5;">

				<textarea name='input_text' class="m-top" id="input_text" rows="8" placeholder='Enter text' style="padding: 20px; width: 75%; border-radius: 8px; border: 2px solid #AAA5A5;"></textarea>

				<!-- submit button -->
				<div>
					<input type="submit" class="button m-top" value="SUBMIT" onclick="prediction_solo()">
				</div>
			</div>	
		</form>
	</div>

	<script language="Javascript">
		function swapConfig(x) {
			var radioName = document.getElementsByName(x.name);
			for(i = 0 ; i < radioName.length; i++){
				document.getElementById(radioName[i].id.concat("Settings")).style.display="none";
			}
			document.getElementById(x.id.concat("Settings")).style.display="initial";
		}
	</script>
	

{%- endblock content %}